@charset "UTF-8";


//theme
$main-color: #caa059; //主题色
$secondary-color: #fea024; //辅助色
$third-color: #f94b32; //点缀色
$fourth-color: #37ae37; //点缀色2

$bgColor1:#f5e8da;
$bgColor2:#edd5bb;

$font-size-normal: 12px;
$font-size-medium: 14px;
$font-size-big: 16px;
$font-size-lg: 18px;
$font-family: "Microsoft Yahei", "微软雅黑", "黑体", "宋体";